.PlanThumbnail {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #9c9999;
    width: 48%;
    height: 220px;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
}

.PlanThumbnail__title {
    text-align: center;
}

.PlanThumbnail__button {
    display: inline-block;
}

.PlanThumbnail--new {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all .3s ease;
}

.PlanThumbnail.PlanThumbnail--new:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}